<nav>
    <div class="container">
     
        <div class="social-links">
            <div class="logo">
              <img src="https://images.unsplash.com/photo-1634309490604-1270c0d486e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZ29zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
             </div>
            <ul class="mt-2">
                <li><i class="bi bi-house-door-fill"></i>Home</li>
                <li><i class="bi bi-people-fill"></i> Trustees</li>
                <li><i class="bi bi-person-fill"></i>Professionals</li>
                <li><i class="bi bi-three-dots"></i>More</li>
            </ul>
        </div>
        <div class="profile-links">
          
            <div><i class="bi bi-search"></i></div>
            <div class=""><button class="btn-invite"><i class="bi bi-envelope-fill"></i> Invite</button></div>
            <div class="profile-img"><img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""></div>
        </div>
    </div>
</nav>