<div class="profile-details row gx-0">
    <div class="profile-card col-md-3">
        <div class="details">
            <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <div class="text-align">
                <h1>jone smith</h1>
                <p>CFA,CIC</p>
                <p>premium member</p>
            </div>
        </div>

        <div class="mb-1 mx-3 d-flex gap-3"><i class="bi bi-mortarboard-fill"></i> insurence,aggent,Attorny <br>
            accountant</div>
        <hr>
        <div class="send-btn">
            <p><i class="bi bi-envelope-fill"></i> send an Email</p>

        </div>
    </div>
    <div class="card col-md-8">
        <h5>Business Details</h5>

        <div class="main border mx-4 my-2">

            <div class=" container d-flex justify-content-between align-items-center">
                <div class="profile-icon">
                    <i class="bi bi-person-fill"></i><strong> Profile </strong>
                </div>
                <div class="edit-btn">
                    <button type="button" class="btn btn-danger my-1" style="width: 150px;" (click)="OnSubmit()">Edit
                        profile</button>

                </div>

            </div>

            <div class="row wrapper">
                <hr>
                <div class="col-4">
                    <li> <strong>Name: </strong></li>
                    <li> <strong> Domain:</strong></li>
                    <li> <strong> Gender:</strong></li>
                    <li> <strong> Date fo Birth:</strong></li>
                    <li> <strong>Phone Number: </strong></li>
                    <li> <strong>Location: </strong></li>
                </div>
                <div class="col-6">
                    <li>Mary, Jason & Hodge of Attorney</li>
                    <li>https://www.mjhattorenys.com</li>
                    <li>Male</li>
                    <li>8th June 1979</li>
                    <li>+8654332134</li>
                    <li>12 Street, Sillcon valley, avenue NE, Huntsville</li>
                </div>
            </div>
        </div>
    </div>
</div>